scripts/quartus/db
scripts/quartus/incremental_db
scripts/quartus/output_files
scripts/quartus/simulation
scripts/quartus/*
!scripts/quartus/*.tcl

modelsim/*
!modelsim/*.do

cavp

scripts/vivado/output/